In [1]:
"""Question1
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list."""
#next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

'Question1\nWrite a function that takes a list and a number as arguments. Add the number to the end of\nthe list, then remove the first element of the list. The function should then return the updated\nlist.'

In [2]:
def next_in_line(lst,num):
    if len(lst)==0:
        return "No list has been selected"
    else:
        lst.remove(lst[0])
        lst.append(num)
        return lst

In [3]:
next_in_line([], 1)

'No list has been selected'

In [4]:
"""
Question2
Create the function that takes a list of dictionaries and returns the sum of people's budgets.
Examples
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
]) ➞ 65700
get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
]) ➞ 62600
"""

'\nQuestion2\nCreate the function that takes a list of dictionaries and returns the sum of people\'s budgets.\nExamples\nget_budgets([\n{ "name": "John", "age": 21, "budget": 23000 },\n{ "name": "Steve", "age": 32, "budget": 40000 },\n{ "name": "Martin", "age": 16, "budget": 2700 }\n]) ➞ 65700\nget_budgets([\n{ "name": "John", "age": 21, "budget": 29000 },\n{ "name": "Steve", "age": 32, "budget": 32000 },\n{ "name": "Martin", "age": 16, "budget": 1600 }\n]) ➞ 62600\n'

In [5]:
def get_budgets(dict):
    Total_budget = 0
    for e in dict:
        Total_budget=e["budget"]+Total_budget
    return Total_budget

In [6]:
get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
])

62600

In [38]:
#ques3: alphabet_soup('edabit') ➞ 'abdeit

In [10]:
def alphabet_soup(p):
    sot_string = "".join(sorted(p))
    return sot_string
p='edabit'
alphabet_soup(p)

'abdeit'

In [11]:
#q.replace("&quot;","'").replace("\n","   ")

In [39]:
q = """
Question4
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.
For the example above:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.
Examples
compound_interest(100, 1, 0.05, 1) ➞ 105.0
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26
"""

In [2]:
#def compound_interest(10000, 10, 0.06, 12):
def compound_interest(P, Y, R, N):
    ci = P*(1+(R/N))**(Y*N)
    return ci

round(compound_interest(10000, 10, 0.06, 12),2)

18193.97

In [13]:
T = """Question5
Write a function that takes a list of elements and returns only the integers.
Examples
return_only_integer([9, 2, &quot;space&quot;, &quot;car&quot;, &quot;lion&quot;, 16]) ➞ [9, 2, 16]
return_only_integer([&quot;hello&quot;, 81, &quot;basketball&quot;, 123, &quot;fox&quot;]) ➞ [81, 123]
return_only_integer([10, &quot;121&quot;, 56, 20, &quot;car&quot;, 3, &quot;lion&quot;]) ➞ [10, 56, 20,
3]
return_only_integer([&quot;String&quot;, True, 3.3, 1]) ➞ [1]"""

In [14]:
T.replace("&quot;","'").replace("\n","   ")

"Question5   Write a function that takes a list of elements and returns only the integers.   Examples   return_only_integer([9, 2, 'space', 'car', 'lion', 16]) ➞ [9, 2, 16]   return_only_integer(['hello', 81, 'basketball', 123, 'fox']) ➞ [81, 123]   return_only_integer([10, '121', 56, 20, 'car', 3, 'lion']) ➞ [10, 56, 20,   3]   return_only_integer(['String', True, 3.3, 1]) ➞ [1]"

In [15]:
#return_only_integer([9, 2, 'space', 'car', 'lion', 16]) ➞ [9, 2, 16]

In [16]:
#list1 = [9, 2, 'space', 'car', 'lion', 16]

In [33]:
def return_only_integer(list1):
    list2 = []
    for e in list1:
        if type(e)==int:
            list2.append(e)
    return list2

In [36]:
return_only_integer([9, 'space', 'car', 'lion', 16])

[9, 16]